* {
    font-family: Heebo, sans-serif;

    --turquoise-ish-color-light-hex: #99ffcc;
    --turquoise-ish-color-dark-hex: #00cc99;
    /* --turquoise-ish-color-dark-hex: #006633; */
    --turquoise-ish-color-rgba: rgba(0, 195, 170, 0.70);

    --violet-ish-color-light-hex: #ccccff;
    --violet-ish-color-dark-hex: #7a57d1;
    --violet-ish-color-rgba: rgba(122, 87, 209, 0.70);
}

body {
    margin: 0;
    direction: rtl;
    outline: none;
}

header #header-image {
    background: url('/images/listener.jpg') top center no-repeat;
    height: 600px;
    background-size: cover;
    position: relative;
}

header #header-image h1 {
    font-size: 100px;
    line-height: 1;
    padding: .25em;
    border: 4px solid #fff;
    border-radius: 12px;
    margin: .125em 0;
}

header #header-image p {
    font-size: 25px;
    margin: .125em 0;
}

nav {
    background: rgba(0, 0, 0, .75);
    background: rgba(255, 255, 255, .9);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    position: fixed;
    width: 100%;
    z-index: 1001;
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 2px 16px rgba(0, 0, 0, .4);
}

nav a {
    text-decoration: none;
    color: white;
    color: black;
    padding: .75em 1.2em;
    transition: opacity .3s ease-in-out;
}

nav a:hover {
    opacity: .5;
}

header #header-image:before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top right, var(--turquoise-ish-color-rgba), var(--violet-ish-color-rgba));
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: none;
    padding-top: 50px;
    padding-bottom: 50px;
}

section h2 {
    font-size: 50px;
    text-align: center;
}

section div.section-body {
    width: 100%;
    max-width: 1200px;
    padding: 0 100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section h3 {
    font-size: 32px;
    text-align: center;
}

section p, li {
    font-size: 24px;
    width: 100%;
}

ul {
    padding: 0;
}

ul li {
    margin-bottom: 1em;
}

.q-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    justify-items: center;
    grid-gap: 3em;
    width: 100%;
}

.q {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    padding: 1em;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 18px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    /* box-shadow: 0em .25em 1em rgba(0, 0, 0, .3); */

    /* background-color: #ccc; */
}

section#section-2 {
    /* background-image: url('/images/bg2.jpg'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover !important;
}

section {
    /* background-image: url('/images/bg2.jpg'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover !important;
}

/* .q:nth-child(1) {
    background-image: url(https://image.freepik.com/free-vector/blurred-background-purple-color_1159-751.jpg);
}

.q:nth-child(2) {
    background-image: url(https://image.freepik.com/vetores-gratis/fundo-borrado-colorido_1035-3286.jpg);
}

.q:nth-child(3) {
    background-image: url(https://image.freepik.com/vetores-gratis/fundo-gradiente_1159-761.jpg);
}

.q:nth-child(4) {
    background-image: url(https://image.freepik.com/free-vector/gradient-blue-abstract-background_1159-3089.jpg);
}

.q:nth-child(5) {
    background-image: url(https://image.freepik.com/free-vector/blurred-background-light-colors_1159-750.jpg);
}

.q:nth-child(6) {
    background-image: url(https://image.freepik.com/vrije-vector/abstracte-vervaagde-gradient-mesh-achtergrond_1159-3169.jpg);
} */

.type-1 .q {
    /* background-image: linear-gradient(to top right, var(--violet-ish-color-rgba), var(--violet-ish-color-light-hex)); */
    border: 1px solid  var(--violet-ish-color-light-hex);
    color: var(--violet-ish-color-dark-hex);
}

.type-2 .q {
    /* background-image: linear-gradient(to top right, var(--turquoise-ish-color-rgba), var(--turquoise-ish-color-light-hex)); */
    border: 1px solid var(--turquoise-ish-color-light-hex);
    color: var(--turquoise-ish-color-dark-hex);
}

.q-conclusion {
    margin-top: 2em;
    margin-bottom: 4em;
    text-align: center;
}

.q-conclusion.type-1 {
}

.q-conclusion.type-2 {
}

/* section#section-3 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/4/46/Clouds_at_sunset_RA.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover !important;
    color: white !important;
} */